@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-display: 'Playfair Display', Georgia, serif;
}

.font-display {
  font-family: var(--font-display);
}
